/*Mobile first media queries*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  min-height: 100%;
  min-width: 600px;
}
body {
  font-family: sans-serif;
  background: linear-gradient(rgba(255, 0, 0, 0.2), rgba(0, 0, 255, 0.2));
  background-repeat: no-repeat;
}

@media screen and (max-width: 960px) {
  .container-main {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
    padding: 2rem;
    justify-content: space-evenly;
    gap: 20px;
  }
}

.container-main {
  width: 100%;
  height: 100%;
  padding: 5rem;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}
.container-list {
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container-list-item {
  display: flex;
  border: 1px solid black;
  border-radius: 10px;
  padding: 1rem;
  gap: 20px;
  background-color: #eee;
}

.container-list-item > img {
  width: 5rem;
  height: 5rem;
  flex: 0;
}
.list-item-content {
  flex: 1 1 auto;
}
.list-item-content > p {
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.container-list-item:hover {
  background: rgba(0, 255, 0, 0.1);
}
.selected {
  background: rgba(0, 255, 0, 0.3);
}
.selected:hover {
  background: rgba(0, 0, 255, 0.1);
}

.container-list-item.hovered {
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.3);
}
.container-image-preview {
  flex: 0 1 60%;
  display: flex;
  min-width: 300px;
  flex-direction: column;
  align-items: center;
}
.container-image-preview > img {
  width: 55%;
  max-height: 70%;
  border: 1px solid black;
  border-radius: 10px;
}
.edit-form {
  width: 80%;
  display: flex;
  flex: 1 0 20%;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
  margin-top: 2rem;
  font-size: x-large;
}
.edit-form > * {
  font-size: inherit;
  padding: 0.5rem;
  border-radius: 10px;
  outline: none;
}
.edit-form > input {
  width: 50%;
  color: red;
}

.edit-form > textarea {
  width: 90%;
  max-lines: 8;
  color: blue;
}
.edit-form > button {
  width: 25%;
  color: white;
  background: #00aa00;
  min-width: min-content;
}
.edit-form > button:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
